<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="imgs/head.jpg" width="600" height="263" /></td>
  </tr>
  <tr>
    <td height="40px"></td>
  </tr>
  <tr>
    <td align="center" style="font-family:Arial, Helvetica, sans-serif"><strong> <b style="font-size:22px;"> 8 cosas que necesitas saber del marketing digital </b> </strong>
    </td>
  </tr>
  <tr>
    <td height="10px"></td>
  </tr>
  <tr>
    <td align="center" style="font-family:Arial, Helvetica, sans-serif; font-size:15px;">La tecnología y el internet están en constante cambio.<br />
      Gigantes como <strong>Apple, Google y Facebook</strong> están cambiando la forma<br />
      en que interactuamos entre nosotros y con las marcas. <br />
      El panorama actual <strong>nos obliga a desdibujar las fronteras<br />
      entre el mundo offline y online.</strong>
      <p><strong>Digital Friday</strong> será nuestro encuentro semanal para viajar a un planeta<br />
      un tanto desconocido (hasta ahora) y descubrir un nuevo horizonte digital.</p>
      <p>Este viernes 7 despegamos a las 10 am,<br />
        con una duración de vuelo de 1 hora.</p>
      <p><strong> <b style="font-size:20px;">¡Te queremos a bordo! </b></strong></p> </td>
  </tr>
  <tr>
    <td height="30px"></td>
  </tr>
  <tr>
    <td><img src="imgs/button.jpg" width="600" height="61" usemap="#Map" border="0" href="www.registro_df.com.mx" /></td>
  </tr>
  <tr>
    <td><img src="imgs/footer.jpg" width="600" height="260" /></td>v
  </tr>
</table> 

<map name="Map" id="Map">
  <area shape="rect" coords="184,0,438,61" href="www.yahoo.com.mx" target="new" />
</map>
</body>
</html>
